
python-telegram-bot==22.3
python-docx==1.2.0
google-generativeai
pdfplumber
reportlab
arabic-reshaper
python-bidi
pillow
arabic-reshaper
docx
google-generativeai
pdfplumber
pillow
python-bidi
python-docx
python-telegram-bot
reportlab
telegram
